.DS_Store
node_modules
bower_components
dist
site
**/node_modules
**/*.obj
**/*.fbx
**/*.FBX
**/*.tga
**/*.mtl

**/*.blend
**/*.bin
**/*.schematic
**/*.mp4

**/**/node_modules
yarn.lock
yarn-error.log
.cache/*

.DS_Store
node_modules
bower_components
dist
site
**/node_modules
**/*.obj
**/*.fbx
**/*.FBX
**/*.tga
**/*.mtl

**/*.blend
**/*.bin
**/*.schematic
**/*.mp4

**/**/node_modules
yarn.lock
yarn-error.log
.cache/*

FaceSticker/Library/ArtifactDB 
FaceSticker/Library/PackageCache
FaceSticker/Library/PackageCache/com.ptc.vuforia.engine@8.6.10/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia 

